<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="testDao" class="ru.otus.spring.dao.CsvTestDao">
        <constructor-arg index="0" value="/test.csv"/>
    </bean>

    <bean id="personService" class="ru.otus.spring.service.Tester">
        <constructor-arg index="0" ref="testDao"/>
    </bean>

</beans>