<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
    <script src="../static/script.js" th:src="@{/script.js}"></script>
    <script>
        window.onload = async () => {
            const urlParams = new URLSearchParams(window.location.search);
            const bookidParam = urlParams.get('id');
            const book = await fetchBookById(bookidParam);

            const idInput = document.getElementById("book-id-input")
            idInput.value = book.id
            const titleInput = document.getElementById("book-title-input")
            titleInput.value = book.title

            const authorsSelect = document.getElementById("book-author-dropdown");
            const authors = await fetchAllAuthors();
            authors.forEach(author => {
                authorsSelect.add(new Option(stringFromAuthor(author), author.id, false, author.id === book.authorId))
            });

            const genresSelect = document.getElementById("book-genre-dropdown")
            const genres = await fetchAllGenres();
            genres.forEach(genre => {
                genresSelect.add(new Option(stringFromGenre(genre), genre.id, false, genre.id === book.genreId))
            });
        }

        async function updateBook() {
            const urlParams = new URLSearchParams(window.location.search);
            const bookidParam = urlParams.get('id');

            const idInput = document.getElementById("book-id-input")
            const titleInput = document.getElementById("book-title-input")
            const authorDropdown = document.getElementById("book-author-dropdown")
            const genreDropdown = document.getElementById("book-genre-dropdown")
            const book = { id: idInput.value, title: titleInput.value, authorId: authorDropdown.value, genreId: genreDropdown.value}
            const response = await fetch("/api/books/" + bookidParam, {
                method: 'PUT',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(book)});
            const status = await response.status
            if (status === 200) {
                window.location.replace("/")
            }
        }
    </script>
</head>
<body>

<form id="edit-form" action="edit.html">
    <h3>Edit book:</h3>

    <div class="row">
        <label for="book-id-input">ID:</label>
        <input id="book-id-input" type="text" readonly="readonly"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text"/>
    </div>

    <div class="row">
        <label for="book-author-dropdown">Author:</label>
        <select id="book-author-dropdown" name="authorId">
        </select>
    </div>

    <div class="row">
        <label for="book-genre-dropdown">Genre:</label>
        <select id="book-genre-dropdown" name="genreId">
        </select>
    </div>

    <div class="row">
        <button type="button" onclick="updateBook()">Update</button>
        <a href="list.html" th:href="@{/}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
