<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- book creation -->
<form id="edit-form" action="create.html" th:method="post" th:action="@{/create}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" value="John Doe" th:value="title"/>
    </div>

    <div class="row">
        <label for="author">Author:</label>
        <ul id="author">
            <li th:each="a : ${authors}" th:text="${a.fullName}">Genre name</li>
        </ul>
    </div>

    <div class="row">
        <label for="genres">Geners:</label>
        <ul id="genres">
            <li th:each="g : ${genres}" th:text="${g.name}">Genre name</li>
        </ul>
    </div>


    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
